---
layout: default
---

<div class="index-headline">
  <!-- <img src="{{site.baseurl}}/assets/images/logomark.png"> -->
  <div>
    <h1 class='title'>Achieve your career goals <span>(or figure them out)</span></h1>
    <p class='lead'>BrightCrowd is the weekly email for people who know they need to “network”, but aren’t always sure where to begin. </p>
  </div>
</div>

<div class="index-signup">
  {% include signup.html context="index-signup" %}
</div>


<div class="posts">
  {% for post in site.posts %}
    <article class="post">
      <div class="date">
        {{ post.date | date: "%B %e" }}
      </div>
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      {% if post.subtitle %}
        <h2>{{ post.subtitle }}</h2>
      {% endif %}

      <div class="entry">
        {{ post.excerpt }}
      </div>
      <img src="{{ post.image | absolute_url }}" />

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
