<script type='text/javascript'>
  function signup(e, context) {
    e.preventDefault();

    var emailInput = $('.' + context + ' input[name="email"]');
    var email = emailInput.val();
    var isEmailIsh = /\S+@\S+\.\S+/;

    emailInput.removeClass('error');
    if (!isEmailIsh.test(email)) {
      emailInput.addClass('error');
      return;
    }

    var data = $('.' + context + ' #signup').serialize();
    console.log(data);

    $.post({
      url: '{{site.apibaseurl}}/api/newsletters/subscribe',
      // url: 'http://postb.in/ZuqTPMGz',
      crossDomain: true,
      data: data,
      complete: function() {
        window.location = '{{site.baseurl}}/subscribed';
      }
    })
  }
</script>
