<!DOCTYPE html>
<html>
  <head>
    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="https://use.typekit.net/oab6guw.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

    {% seo %}
  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead">
          <div>
            <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar | absolute_url }}" /></a>
          </div>

          <nav>
            <a href="{{ site.baseurl }}/">Blog</a>
            <a href="{{ site.bcurl }}/team">About</a>
            <a href="{{ site.bcurl }}">Check Out BrightCrowd</a>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container main">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="site-info">
        <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
        <h2 class="site-description">{{ site.description }}</h2>
      </div>
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>
    {% include facebook.html %}
    {% include analytics.html %}
  </body>
</html>
